<!DOCTYPE html>
<html>
<%- include('./layout/head.ejs')  %>
<body>
    <h1>Welcome to EJS Lesson</h1>

    <%- include('./layout/nav.ejs') %>


    <div class="content" >
        <h2>ALl  Posts</h2>
        <% if(posts.length > 0){ %>
                <% posts.forEach((post)=>{ %>
                    <h3> <%= post.title %> </h3>
                    <small> <%= post.subtitle %> </small>
                    <p> <%= post.body %> </p>
                <% }) %>

            <% }else{ %>
                <p> There are no blog posts to display</p>
            <% } %>

    </div>

    <%- include('./layout/footer.ejs') %>

</body>
</html>